<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új sütemény</title>
</head>

<body>
  <form method="post" action="/ujSutik">
    <div>
      <label for="nev">Név</label>
      <input type="text" name="nev">
    </div>

    <div>
      <label for="ar">Ár</label>
      <input type="number" name="ar">
    </div>

    <div>
      <label for="leiras">Leírás</label>
      <input type="text" name="leiras">
    </div>

    <div>
      <input type="submit"">
    </div>
  </form>
</body>

</html>